<div id="dashboard-content">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if source == 'assigned' or not source %}active{% endif %}"
               hx-get="{% url 'projects:dashboard' %}?source=assigned"
               hx-target="#dashboard-content"
               hx-swap="outerHTML"
               href="#">Мои задачи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if source == 'available' %}active{% endif %}"
               hx-get="{% url 'projects:dashboard' %}?source=available"
               hx-target="#dashboard-content"
               hx-swap="outerHTML"
               href="#">Доступные задачи</a>
        </li>
    </ul>

    {% include 'tasks/partials/_task_list.html' with tasks=tasks show_take_button=show_take_button filters=filters source=source target_id='dashboard-content' %}
</div>