{% if pending_invitations %}
<div class="mb-4">
    <h6 class="mb-3">
        Активные приглашения
    </h6>
    <div class="list-group">
        {% for inv in pending_invitations %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    {{ inv.recipient.username }}
                </span>
                {% if actor_role %}
                <button
                    class="btn btn-outline-danger btn-sm"
                    hx-post="{% url 'projects:invitation_cancel' username=project.owner.username slug=project.slug invitation_pk=inv.pk %}"
                    hx-target="#pending-invitations-wrapper"
                    hx-swap="outerHTML">
                    Отменить
                </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}