{% block navbar_left %}
<div class="w-100 mt-2 mt-lg-0 project-nav-marker">
    <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center w-100 gap-2 gap-lg-3">
        
        <div class="d-flex align-items-center flex-row flex-nowrap text-nowrap py-1">
            <a class="text-white-50 text-decoration-none d-flex align-items-center" href="{% url 'users:public_profile' username=project.owner.username %}">
                <i class="bi bi-person me-1"></i>{{ project.owner.username }}
            </a>
            
            <span class="text-secondary px-2">/</span>
            
            <a class="fw-bold text-white text-decoration-none" href="{% url 'projects:project_detail' username=project.owner.username slug=project.slug %}">
                {{ project.name }}
            </a>
        </div>
        
        <div class="w-100 border-top border-secondary border-lg-0 pt-2 pt-lg-0 mt-1 mt-lg-0">
            <ul class="navbar-nav flex-column flex-lg-row align-items-start align-items-lg-center gap-2 gap-lg-3">
                {% block project_navbar_tabs %}{% endblock %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}