# PostgreSQL
POSTGRES_DB=assignia_db
POSTGRES_USER=assignia_user
POSTGRES_PASSWORD=assignia_password
SQL_HOST=db
SQL_PORT=5432

# Django core
SECRET_KEY=your-secret-key
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Redis
REDIS_URL=redis://redis:6379/0

# Email
EMAIL_BACKEND_TYPE=console #smtp
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@example.com

# Domain
BASE_URL=http://localhost:8000