# PostgreSQL
POSTGRES_DB=assignia_db
POSTGRES_USER=assignia_user
POSTGRES_PASSWORD=assignia_password
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

# Django
SECRET_KEY=сгенерирированный-ключ
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]