<div class="card mb-2 task-container">
  <div class="card-body">
    <h6 class="card-title">
      <a href="{% url 'tasks:detail_task' task_pk=task.pk %}" class="text-decoration-none">{{ task.title }}</a>
    </h6>
    <div class="mb-1">
      <span class="badge bg-{% if task.priority >= 4 %}danger{% elif task.priority == 3 %}warning{% else %}secondary{% endif %}">Приоритет: {{ task.priority }}</span>
      <span class="badge bg-info">Шанс риска: {{ task.risk_chance }}</span>
      <span class="badge bg-info">Последствия: {{ task.risk_impact }}</span>
      <span class="badge bg-primary">{{ task.get_status_display }}</span>
    </div>
    {% if task.description %}
      <p class="card-text small text-muted">{{ task.description|truncatechars:100 }}</p>
    {% endif %}
    {% if task.deadline %}
      <small class="text-muted">Срок: {{ task.deadline|date:"d.m.Y H:i" }}</small>
    {% endif %}
    {% if task.assignee %}
        <div class="mt-1"><small>Исполнитель: 
            <a href="{% url 'users:public_profile' username=task.assignee.username %}" class="text-decoration-none text-muted">
                {{ task.assignee.username }}
            </a>
        </small></div>
    {% endif %}
    <div class="mt-1 text-muted small">
      <i class="bi bi-kanban"></i> {{ task.project.name }}
    </div>

    {% if show_take_button and user.is_authenticated and task.status == 'new' and not task.assignee %}
      <div class="mt-2">
        <button hx-post="{% url 'tasks:take_task' task.pk %}"
                hx-target="closest .task-container"
                hx-swap="outerHTML"
                class="btn btn-sm btn-success">Взять</button>
      </div>
    {% endif %}
  </div>
</div>