<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h4 class="mb-1">Участники проекта</h4>
        <small class="text-body-secondary">
            Управление командой, ролями и активными приглашениями
        </small>
    </div>

    {% if actor_role == 'owner' or actor_role == 'admin' %}
        <button
            class="btn btn-primary d-inline-flex align-items-center gap-2 shadow-sm"
            data-bs-toggle="modal"
            data-bs-target="#modal-container" hx-get="{% url 'projects:invitation_form' username=project.owner.username slug=project.slug %}"
            hx-target="#modal-content"       hx-swap="innerHTML">
            <i class="bi bi-person-plus-fill"></i>
            Пригласить участников
        </button>
    {% endif %}
</div>

<div class="card shadow-sm border-0">
    <div class="card-body p-0">
        <div class="p-3 border-bottom bg-light-subtle rounded-top">
            <form
                hx-get="{% url 'project_members:members_tab' username=project.owner.username slug=project.slug %}"
                hx-target="#tab-content"
                hx-swap="innerHTML"
                class="row g-2">
                
                <div class="col-md-6 col-lg-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text bg-white text-secondary border-end-0">
                            <i class="bi bi-search"></i>
                        </span>
                        <input
                            type="text"
                            name="search"
                            class="form-control border-start-0 ps-0"
                            value="{{ search_query|default:'' }}"
                            placeholder="Поиск по имени пользователя...">
                        <button class="btn btn-primary px-3" type="submit">
                            Найти
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="members-table-wrapper">
            {% include 'members/partials/_members_list.html' %}
        </div>
    </div>
</div>