<div class="card shadow-sm mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">Email</h5>
                <p class="text-muted mb-0">{{ user.email }}</p>
            </div>
            <button class="btn btn-outline-primary btn-sm"
                    hx-get="{% url 'users:account_email_form' %}"
                    hx-target="#email-container"
                    hx-swap="innerHTML">
                Изменить
            </button>
        </div>
    </div>
</div>