<div class="messages-div">
    <h6>Обсуждение</h6>
    <div id="messages-container">
        {% include 'requests/partials/_request_messages_list.html' with messages_list=messages_list %}
    </div>

    <form hx-post="{% url 'project_requests:request_message_add' request_pk=req.pk %}"
        hx-target="#messages-container" hx-swap="innerHTML" hx-on::after-request="this.reset()">
        {% csrf_token %}
        <textarea class="form-control mb-2" name="text" rows="2" placeholder="Ваше сообщение..."></textarea>
        <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
    </form>
</div>