{% for team in task.teams.all %}
    <span class="badge bg-light text-dark border d-flex align-items-center gap-1 py-1.5 px-2.5 rounded-pill shadow-sm">
        <span>{{ team.name }}</span>
        <span class="text-danger cursor-pointer ms-1 small-icon"
                hx-post="{% url 'tasks:team_remove_from_task' task.pk %}"
                hx-vals='{"team_id": "{{ team.id }}"}'
                hx-target="#selected-teams"
                hx-swap="innerHTML"
                style="font-size: 0.85rem; line-height: 1;">&times;</span>
    </span>
{% empty %}
    <span class="text-muted small italic">Команды не назначены</span>
{% endfor %}
