{% extends 'base.html' %}
{% block title %}Доступные проекты{% endblock %}
{% block content %}

<h1>Доступные проекты</h1>

{% include 'partials/_search_bar.html' %}

<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-3">
        {% include 'partials/_project_card.html' with project=project %}
    </div>
    {% empty %}
    <div class="col-12">
        <p>{% if query %}Ничего не найдено.{% else %}Нет доступных проектов.{% endif %}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}