{% extends 'base.html' %}
{% block title %}Дашборд{% endblock %}
{% block navbar_left %}
<div id="dashboard-tabs" hx-swap-oob="innerHTML">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if source == 'assigned' %}active{% endif %}"
               hx-get="{% url 'projects:dashboard' %}?source=assigned"
               hx-target="#task-list-inner"
               hx-swap="innerHTML"
               href="#">Мои задачи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if source == 'available' %}active{% endif %}"
               hx-get="{% url 'projects:dashboard' %}?source=available"
               hx-target="#task-list-inner"
               hx-swap="innerHTML"
               href="#">Доступные задачи</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<h1>Дашборд</h1>
{% if invitations %}
    <div id="invitations-container">
        {% include 'projects/partials/_invitations.html' %}
    </div>
{% endif %}

<div id="task-list-inner">
    {% if source == 'assigned' or source is None %}
        {% include 'projects/partials/_dashboard_tab.html' with tasks=assigned_tasks show_take_button=False filters=filters source='assigned' %}
    {% else %}
        {% include 'projects/partials/_dashboard_tab.html' with tasks=available_tasks show_take_button=True filters=filters source='available' %}
    {% endif %}
</div>
{% endblock %}