{% extends 'base.html' %}
{% block title %}Туториалы{% endblock %}

{% block content %}
<h1 class="mb-4">Туториалы</h1>

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-plus-circle text-success me-2"></i>Создание проекта</h5>
                <p class="card-text">Нажмите «Новый проект» в навигации, задайте настройки.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-person-plus text-primary me-2"></i>Добавление участников</h5>
                <p class="card-text">На вкладке «Участники» отправьте приглашения пользователям.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-person-plus text-primary me-2"></i>Настройки ролей</h5>
                <p class="card-text">Участникам назначьте соотвествующие роли.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-kanban text-info me-2"></i>Управление отвественностью</h5>
                <p class="card-text">Создавайте направления на вкладке «Направления».</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-kanban text-info me-2"></i>Управление исполнителями</h5>
                <p class="card-text">Создавайте команды для направлений в вкладке «Направления».</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-kanban text-info me-2"></i>Управление задачами</h5>
                <p class="card-text">Создавайте задачи на вкладке «Задачи».</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-chat-dots text-warning me-2"></i>Техподдержка</h5>
                <p class="card-text">Техподдержка поможет вам с решение проблемы в вкладке «Запросы».</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-chat-dots text-warning me-2"></i>Аналитика</h5>
                <p class="card-text">Упрощенная аналитика для стартап проектов в вкладке «Аналитика».</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}