{% extends 'projects/project_base.html' %}
{% block title %}Запрос #{{ req.pk }}{% endblock %}

{% block project_navbar_tabs %}
    <li class="nav-item"><span class="navbar-text text-secondary">/</span></li>
    <li class="nav-item"><span class="nav-link text-white-50">Запрос #{{ req.pk }}</span></li>
{% endblock %}

{% block content %}
{% include 'requests/partials/_request_card.html' with req=req is_teach_support=is_tech_support %}

{% include 'requests/partials/_request_messages.html' with messages_list=messages_list %}

{% endblock %}